.SearchBar {
    position: relative;
    font-size: 18px;
    outline: none;
    padding-left: 2rem;
    border-radius: 3rem;
    width: 28rem;
    height: 3.5rem;
    color: rgb(225, 225, 225);
    transition: all 0.2s;
}
.SearchBar:hover {
    width: 32rem;
}
.SearchBar::placeholder {
    color: rgb(208, 208, 208);
}
.SearchBar p {
    align-self: center;
}

@media (max-width: 590px) {
    .SearchBar {
        width: 15rem;
        height: 3rem;
    }
    
}