body {
  width: 100vw;
  overflow-X: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.display {
  display: grid;
  grid-template-rows: 80vh 1fr;
  grid-template-areas: 
  'backgroundMovie'
  'contentText'
  ;
}
.backgroundMovie {
  grid-area: backgroundMovie;
  position: absolute;
  height: 80vh;
  width: 100vw;
}
.backgroundMovie img {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
}
.movieHeader {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0px 1rem;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.8fr;
  justify-items: center;
}
.movieTagLine {
  color: rgb(192, 192, 192);
}
.contentText {
  padding: 2rem;
  background-color: black;
  grid-area: contentText;
  z-index: 2;
}
.movieSubTitle {
  text-align: center;
  padding: 0px 10vw;
}