body {
    height: 100vh;
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: url('../src/assets/imgs/spacepixel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.App {
    text-align: center;
}