.contentarea { 
  margin: auto;
  display: flex;
  height: 70vh;
  width: 95vw;
  overflow: auto;
}
.contentarea::-webkit-scrollbar {
  display: none;
}
.contentlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 12rem));
  grid-auto-rows: 19rem;
  justify-content: space-evenly;
  grid-gap: 20px 10px;
  width: 100vw;
}
.movieCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 12rem;
  border-radius: 1rem;
}
.movieCard .movieDate {
  text-align: center;
}
.movieCard .moviePoster {
  border-radius: 0.5rem;
  width: 180px;
  height: 230px;
}
.movieCard .movieTitle {
  font-weight: 1000;
  max-width: 10rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pagebutton {
  width: 50px;
  height: 20px;
}
@media (max-width: 590px) {
}