.contentarea { 
  margin: auto;
  display: flex;
  height: 78vh;
  width: 95vw;
  overflow: auto;
}
.contentarea::-webkit-scrollbar {
  display: none;
}
.contentlist {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 14rem));
  grid-auto-rows: 21rem;
  gap: 1rem;
  width: 100vw;
  justify-content: center;
  justify-items: center;
  align-items: center ;
}
.pagebutton {
  width: 50px;
  height: 20px;
}
@media (max-width: 590px) {
}
