.contentarea { 
  margin: auto;
  padding-right: 1rem;
  overflow: hidden;
  display: flex;
  height: 70vh;
  width: 95vw;
  overflow: auto;
}
.contentarea::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
}
.contentarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.344);
  backdrop-filter: blur( 1rem );
  border: 1px solid rgba(108, 108, 108, 0.749);
  box-shadow: 1.5px 0.5px rgba(0, 0, 0, 0.31);
  border-radius: 10px;
}
.contentlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: 15rem;
  grid-gap: 1.5rem;
  justify-content: space-between;
  width: 93vw;
}
.contentitem {
  list-style: none;
  text-align: center;
  background-color: rgba(246, 246, 246, 0.212);
  color: rgb(206, 206, 206);
  border-radius: 1.1rem;
  max-width: 12rem;
  min-width: 10rem;
  max-height: 15rem;
  min-height: 13rem;
}