@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://kit-free.fontawesome.com/releases/latest/css/free.min.css');
html {
    background-color: white;
}
body {
    font-family: 'Poppins';
    height: 100vh;
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: url('../../public/imgs/spacepixel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.transparentEffect {
    background-color: rgba(101, 101, 101, 0.155);
    backdrop-filter: blur( 1.5rem );
    border: 1px solid rgba(139, 139, 139, 0.648);
    box-shadow: 1.5px 0.5px rgb(0, 0, 0);
}
.blackEffect {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black calc(1% - 1vh), transparent);
}
.b {
    width: 2rem;
    height: 1rem;
}