.searchfilter {
  margin: 0px 1rem;
  display: flex;
  min-width: 3.3rem;
  min-height: 3.3rem;
  border-radius: 3.3rem;
  justify-content: center;
  align-items: center;
}
.filtericon {
  font-size: 22px;
  color: rgb(225, 225, 225);
}

@media (max-width: 590px) {
  .searchfilter {
    min-width: 3rem;
    min-height: 3rem;
  }
}