header {
  padding: 1rem 0rem;
  width: 100%;
  z-index: 1;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}
.contentarea {
  margin: auto;
  display: flex;
  overflow: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.contentarea .contentlist::-webkit-scrollbar {
  display: none;
}
.contentlist {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 14rem));
  grid-auto-rows: 21rem;
  gap: 1rem;
  width: 95vw;
  height: 77vh;
  justify-content: center;
  justify-items: center;
  align-items: center ;
}