.contentarea {
  margin: auto;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.contentarea .contentlist::-webkit-scrollbar {
  display: none;
}
.contentlist {
  margin-bottom: 1.1rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 14rem));
  grid-auto-rows: 21rem;
  gap: 1rem;
  width: 95vw;
  height: 78vh;
  justify-content: center;
  justify-items: center;
  align-items: center ;
}